<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63376744840-pnrtl8q14mvluqbjf8215kkif10v9l37.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63376744840-pnrtl8q14mvluqbjf8215kkif10v9l37</string>
	<key>API_KEY</key>
	<string>AIzaSyC13fove4BfDdWGbBike9LVU4EXs7-cmgQ</string>
	<key>GCM_SENDER_ID</key>
	<string>63376744840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.aipencil</string>
	<key>PROJECT_ID</key>
	<string>ai-pencil</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-pencil.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63376744840:ios:20d6c0dfb4c5586c715a3d</string>
</dict>
</plist>